<% if current_user %>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" id="user_menu" data-bs-toggle="dropdown" aria-expanded="false">
        <%= current_user.name %>
        </a>
        <ul class="dropdown-menu dropdown-menu-lg-end">
        <%= link_to "Profile", edit_user_registration_path, class: "dropdown-item" %>
        <li><a class="dropdown-item" href="#">History</a></li>
        <li><a class="dropdown-item" href="#">Reviews</a></li>

        <li><hr class="dropdown-divider"></li>
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Admin Menu
        </a>
        <li><a class="dropdown-item" href="#">Add book</a></li>
        <li><a class="dropdown-item" href="#">View currently borrowed</a></li>
        <li><a class="dropdown-item" href="#">Notify overdue borrowers</a></li>

        <li><hr class="dropdown-divider"></li>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </ul>
    </li>

<% else %>
    <li class="nav-item">
    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
    <%= link_to "Register", new_user_registration_path, class: "nav-link" %>
    </li>
<% end %>