<!--
<div id="<%= dom_id book %>">
<tr>
  <td><%= link_to book.title, book %></td>
  <td><%= book.author %></td>
  <td><%= book.ISBN %></td>
  <td><%= book.cover_text %></td>
  <td><%= book.short_description %></td>
  <td><%= book.cost %></td>
  <td><%= book.collection %></td>
  <td><%= book.case %></td>
  <td><%= book.shelf %></td>
</tr>
</div>
-->
<div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-8 col-lg-6">
            <!-- Section Heading-->
            <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <h3>Writing Center <span> Diversity Collection</span></h3>
              <p>This would make a very good place for a description &amp; random assortment of books in the collection.</p>
              <div class="line"></div>
            </div>
          </div>
        </div>
        <div class="row">

          <!-- Single Book -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="book_card_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <!-- Book Thumb -->
              <div class="book_thumb"><%= image_tag (@book.cover_link), class: "img rounded-top", style: "width:200px;" %>
                <!-- Review Section -->
                <div class="social-info"><% @reviews.average(:stars).floor.times do |star| %><i class="fa fa-star checked" stlye="color:orange;"></i><% end %></div>
              </div>
              <!-- Team Details-->
              <div class="book_card_details_info">
                <h6><%= link_to book.title, book %></h6>
                <p class="designation"><%= book.author %></p>
              </div>
              <!-- Button trigger modal
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Launch demo modal
              </button> -->

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>

              </div>
            </div>
          </div>

        </div>
      </div>