<div id="<%= dom_id book %>">
<tr>
  <td><%= link_to book.title, book %></td>
  <td><%= book.author %></td>
  <td><%= book.ISBN %></td>
  <td><%= book.cover_text %></td>
  <td><%= book.short_description %></td>
  <td><%= book.cost %></td>
  <td><%= book.collection %></td>
  <td><%= book.case %></td>
  <td><%= book.shelf %></td>
  </tr>
</div>