<%= form_with(model: loan) do |form| %>
  <% if loan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
        <% loan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# These attributes should be hidden, but need to be present when a new loan is created %>
  <div class="field form-group">
    <%= form.number_field :user_id, id: :user_id, value: current_user.id, type: :hidden %>
  </div>

    <div class="field form-group">
    <%= form.number_field :book_id, id: :books_id, value: book.id, type: :hidden %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
