<div id="<%= dom_id review %>">
    <p>
    <strong>Stars:</strong>
    <%= review.stars %>
  </p>  <p>
    <strong>Posted by:</strong>
    <%= review.user.name %>
  </p>
  <p>
    <strong>Title:</strong>
    <%= review.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= review.body %>
  </p>




</div>
